@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

:root {
    --rosa: #f00a5E;
    --rosaClaro: #eb568d;
    --cinza: #eeeeee;
}

* {
    font-family: "Poppins", sans-serif;
}

body {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s;
    z-index: 1000;
}
header.escolher{
    position: static;
}
.navbar-nav {
    height: 55px;
}

.nav-item {
    display: grid;
    place-items: center;
    margin-right: 7px;
    border: 3px solid var(--rosa);
    /* transition: .5s; */
    border-radius: 0px;
}

.nav-item:hover {
    border-bottom: 3px solid white;
}

#carouselGrande {
    width: 80%;
    height: 80vh;
    /* max-height: 450px; */
    margin: auto;
    position: relative;
}

#caroselDivNoticia {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    bottom: 1% !important;
    z-index: 100;
}

.carousel-indicators {
    bottom: 5% !important;
}

#botoesV {
    right: 20px;
}

#botoesN {
    right: 20px;
}

#carouselGrande .carousel-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0));
    pointer-events: none;
    /* Garante que não interfira nos botões do carrossel */

}

#carouselGrande .carousel-item {
    position: relative;
    overflow: hidden;
}

.item-a {
    width: 100%;
    height: 100%;

}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
}

.carousel-caption h5 {
    width: 45%;
    margin: auto;
    text-align: center;
}

#carouselGrande .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

button.botoes,
h1.botoes,
a.botoes,
div.botoes {
    border-radius: 25px !important;
    min-width: 150px;
    background-color: var(--rosa);
    border: 2px solid white;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

h1.botoes {
    width: 180px;
    text-align: center;
    padding: 3px;


}

button.botoes:hover,
a.botoes:hover {
    background-color: rgb(255, 228, 228);
    color: rgb(39, 39, 39);
    transition: 0.2s;
}

input.input-L {
    background-color: var(--rosa);
    height: 5vh;
    padding: 5px;
}

input.input-L::placeholder {
    color: white;
    font-weight: bold;
}

#botoesN .carousel-control-next-icon,
#botoesV .carousel-control-prev-icon {
    width: 2.5rem;
    height: 2.5rem;
}


/*Carrossel de 3 imagens */
#bt-next-livros.carousel-control-next {
    right: -90px;
    filter: invert(1);
}

#bt-prev-livros.carousel-control-prev {
    left: -90px;
    filter: invert(1);
}

#imagensCartalogo a img {
    height: 250px;
    border-radius: 9px;
}

#imagensCartalogo .col {
    padding: 0px !important;
}

/* modal */
.ativo_biblioteca {
    display: none;
}

#modalLivros {
    width: 95%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-family: sans-serif;
    /* background-color: rgb(60, 85, 89); */
}

.back-content h1 {
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.book {
    position: relative;
    width: 450px;
    height: 600px;
    transform: translateX(50%);
}

#modalLivros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

#prev-btn,
#next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.book {
    position: relative;
}

#prev-btn {
    left: 0px;
}

#next-btn {
    right: -10px;
}

#prev-btn i,
#next-btn i {
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

#prev-btn i:hover,
#next-btn i:hover {
    color: rgb(171, 171, 171);
}


.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    z-index: 0;

}

.front,
.back {
    background-image: url('../images/pagDireita.png') !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 8px;
}

.front {
    z-index: 1;
    backface-visibility: hidden;

}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
}

.front-content p,
.back-content p {
    width: 380px;
}

.livrosCatalogo {
    margin-top: 10px;
    overflow: hidden;

}

.back-content .livrosCatalogo img,
.front-content .livrosCatalogo img {
    width: auto;
    height: 180px;

}

.livrosCatalogo img {
    float: right;
    margin-left: 10px;
}

.back-content {
    transform: rotateY(180deg)
}


/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #a1a1a1;
}

.modal i {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.back-content h1 i {
    font-size: 35px !important;
    margin-left: 5px;
    display: grid;
}

#b1 h1 {
    align-self: start;
    margin-left: 20px;
}

.btn-close {
    filter: invert(1);
    width: 8rem !important;
}

/* matérias */
.topoMateria,
.titulosMateria,
.questaoDiv {
    width: 90%;
    margin: auto;
}

.conteudoMateria {

    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
    position: relative;

}

.img_cont {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.conteudoMateria img {
    width: 40%;
    height: auto;
    margin: auto;
    border-radius: 5px;
}

.conteudoMateria ol li {
    font-weight: bold;
    font-size: 1.2em;
}

.conteudoMateria ol ul li {
    font-weight: 400;
}

.conteudoMateria ol p {
    margin: 0;
    font-size: 1.1em;
}

.materiaCima {
    position: relative;
    top: 10px;
}

h1.materiaBaixo {
    border-radius: 30px !important;
}

.VoltarMateria i {
    font-size: 2.5em;
    color: #762c23;

}

.VoltarMateria button i:hover {
    color: #9c5951;
}

/* questoes */
.questaoTotal {
    width: 90%;
    font-size: 1.1em;
    background-color: #eeeeee;
    margin: auto;
    margin-top: 100px;

}

.questaoTexto {
    width: 42%;
    height: auto;

    background-color: #dcdcdc;

}

.questaoTexto ol li {
    counter-increment: marcador;
}

.questaoTexto ol li::marker {
    content: counter(marcador, upper-alpha) ") ";
    font-weight: bold;

}

.explicacaoQuestao {
    width: 55%;
    height: auto;

    background-color: #dcdcdc;
}

.text-justify {
    text-align: justify;

}

.tituloQuestao {
    position: relative;
    top: -75px;
    width: auto;
    margin: 5px;
}

.topoQuestao {
    height: 60px;
}

.cadaLivro .btn-close {
    filter: invert(0) !important;
    width: 10% !important;
}

/* mural */
#mural {
    padding: 30px;
}

.board {
    margin: auto;
    position: relative;
    width: 75%;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('../images/fundo_mural.png');
    border: 10px solid #cdaf7b;
}

#img_Mural {
    width: 500px;
    height: 145px;
    display: block;
    margin: 0 auto;
}

.task {
    position: absolute;
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: grab;
    transition: box-shadow 0.2s;
}

.task img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    pointer-events: none;   /* impede que a imagem capture eventos de mouse */
    user-drag: none;        /* bloqueia drag nativo em navegadores webkit */
    -webkit-user-drag: none; /* versão para Chrome/Safari */
}

.task h2 {
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: center;
}

.task p {
    font-size: 0.9rem;
    color: #555;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.task.dragging {
    opacity: 0.5;
}

/* telas de atualizações */

#div_user {
    /* background-color: #DEDEDE; */
    border-radius: 5px;
    width: 25%;
    height: 90vh;
    padding: 5px;
}

#div_user img {
    width: 60%;
    /* min-height: 200px; */
    aspect-ratio: 1/1;
}

#div_user div.botoes {
    text-align: center;
    border: none;
}

#div_user a {
    color: black;
    text-decoration: none;

}
#div_user a:hover{
    color: gray;
}

.area_btns {
    width: 60%;
    margin-top: 2em;
}

.area_btns h2 {
    text-align: center;
}

#botoes_criar {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.2em;
    column-gap: 1.3em;
}

#botoes_criar a {
    transition: 0.2s;
}

#botoes_criar a:hover {
    opacity: 0.90;
    color: white;
    transform: scale(1.1);

}



/* tela de revisar */
button#criar_noticia {
    position: fixed;
    bottom: 55px;
    right: 60px;
    width: 160px !important;
    min-width: 0px;
    padding: 0.2em;
    z-index: 100;

}



.criar-livro-div {
    width: 65%;
}

.caixaTxt_livros {
    border: 2px solid rgb(182, 182, 182);
    border-radius: 5px;
}

.form_criar input,
.form_criar textarea,
.form_criar select {
    height: 6vh;
    /* border: 2px solid #a1a1a1; */
    padding: 0px 5px;
    border-radius: 7px;

}

.form_criar textarea {
    height: 20vh;
}

.form_criar label,
.form_criar input::placeholder {
    font-size: 1.2em;
}

.add_img_livro button {
    font-size: 1.1em;
}



.revisar_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.div_questoes {

    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
}

div#noticias_aluno {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
}

.noticia_div_revisar {
    width: 90%;
    border-radius: 15px;
    margin-bottom: 2em;
    transition: 0.4s ease;
    cursor: pointer;
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.noticia_div_revisar:hover {
    transform: scale(1.08);
}

.noticia_div_revisar h1 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0;
}

.noticia_div_revisar p.autor,
.txt_noticia_toda p.autor {
    color: #777777;
    font-style: italic;
    margin: 0;
    margin-bottom: 2px;
}

.txt_noticia_toda {
    width: 80%;
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 1.5em;
    margin: auto;

}

.txt_noticia_toda h1 {
    font-weight: 600;
}

.txt_noticia_toda {
    font-size: 1.2em;
}

.txt_noticia_toda p.noticia_toda {
    text-align: justify;
}

.botoes_noticia {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#editar_noticia {
    background-color: rgb(231, 231, 100);
}

#excluir_noticia {
    background-color: rgb(231, 100, 100);
}

#aprovar_noticia {
    background-color: rgb(170, 226, 85);
}

/* criar hover para cada botao */


#div_user div.botoes_professor {
    background-color: #f9cc19 !important;
}

#div_user div.botoes_aluno {
    background-color: #71c1e9 !important;
}

#div_user div.botoes_adm {
    background-color: #f3150a !important;
}


.btn_conteudos {

    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max(9vh);
    row-gap: 10px;
}

.btn_conteudos a,
.btn_conteudos button {
    width: 90%;
    height: auto;
    text-align: center;
    line-height: 1.1;
    /* padding: 4px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 0;
    background-color: #762c23;
}

.btn_conteudos a:hover,
.btn_conteudos button:hover {
    background-color: #be8882;
    color: rgb(233, 233, 233);
}

.questoes {

    grid-template-columns: repeat(4, 1fr);
}


/* carrossel da materia */
.btprev-materia {
    left: -127px !important;
    filter: invert(1);
}

.btnext-materia {
    right: -125px !important;
    filter: invert(1);
}

/* escolher materia: */
.conteudos_materia img {
    width: 100%;
    height: 100%;
}


/* questoes - modal */
.letras-parenteses {
    list-style: none;
    counter-reset: letra;
    padding-left: 0;
    /* remove espaço extra do ol */
}

.letras-parenteses li {
    counter-increment: letra;
    display: flex;
    align-items: center;
    gap: 8px;
    /* espaço entre o A) e o conteúdo */
}

.letras-parenteses li::before {
    content: counter(letra, upper-alpha) ")";
    /* Ex: A) */
    font-weight: bold;
}

.letras-parenteses li:hover,
.letras-parenteses .escolha {
    background-color: rgb(199, 241, 144);
    border-color: 1px solid rgb(128, 167, 78);


}


/* Confetes estilo purpurina */
canvas.confetti-canvas {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    pointer-events: none;
    z-index: 9999;
    /* maior que o modal */
}



/* Alternativa correta */
.correta {
    background-color: #c7f464 !important;
    border: 1px solid #9bb61b;

    animation: crescerChacoalhar 0.6s ease-in-out;
    border-radius: 8px;
}

/* Alternativa errada */
.errada {
    background-color: #ff6b6b !important;
    border: 1px solid #ff003d;

    animation: crescerChacoalhar 0.6s ease-in-out;
    border-radius: 8px;
}

@keyframes crescerChacoalhar {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1) rotate(-2deg);
    }

    50% {
        transform: scale(1.15) rotate(2deg);
    }

    75% {
        transform: scale(1.1) rotate(-2deg);
    }

    100% {
        transform: scale(1) rotate(0);
    }
}

/* suas noticias -> aluno */
.aluno_pendente {
    background-color: #ffff83;
}

.aluno_aprovada {
    background-color: #aaff89;
}

.aluno_reprovada {
    background-color: #ff9390;
}

.aluno_aluno {
    background-color: #9cd4f0;
}

/* modal de success */
.checkmark-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
}

.checkmark {
    stroke: #28a745;
    stroke-width: 8;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: draw 0.8s ease-out forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.circle {
    stroke: #28a745;
    stroke-width: 8;
    fill: none;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 0.8s ease-out forwards;
}

/* cores das materias */
#voltar_index i {
    font-size: 2em;
    color: gray;
}

.bt_cont {
    font-size: 1.3em !important;
}

.bt_cont:hover {
    opacity: 0.7;
}

.materia_1 {
    background-color: #a6026c !important;
}

.questao_1 {
    background-color: #d1024e !important;
}

.materia_2 {
    background-color: #638d16 !important;
}

.questao_2 {
    background-color: #7cb936 !important;
}

.materia_3 {
    background-color: #d35010 !important;
}

.questao_3 {
    background-color: #f06926 !important;
}

.materia_4 {
    background-color: #62ae0b !important;
}

.questao_4 {
    background-color: #78da09 !important;
}

.materia_5 {
    background-color: #1e6363 !important;
}

.questao_5 {
    background-color: #479b9b !important;
}

.materia_6,
.materia_11 {
    background-color: #762c23 !important;
}

.questao_6,
.questao_11 {
    background-color: #b8564a !important;
}

.materia_7 {
    background-color: #79b8d8 !important;
}

.questao_7 {
    background-color: #83caee !important;
}

.materia_8 {
    background-color: #f06926 !important;
}

.questao_8 {
    background-color: #f99400 !important;
}

.materia_9 {
    background-color: #4296cc !important;
}

.questao_9 {
    background-color: #56ade7 !important;
}

.materia_10 {
    background-color: #62ae0b !important;
}

.questao_10 {
    background-color: #78da09 !important;
}

#voltar_escolher_conteudo:hover {
    opacity: 0.7;
}

.voltar_1 {
    color: #a6026c !important;
}

.voltar_2 {
    color: #638d16 !important;
}

.voltar_3 {
    color: #d35010 !important;
}

.voltar_4 {
    color: #62ae0b !important;
}

.voltar_5 {
    color: #1e6363 !important;
}

.voltar_6 {
    color: #762c23 !important;
}

.voltar_7 {
    color: #79b8d8 !important;
}

.voltar_8 {
    color: #f06926 !important;
}

.voltar_9 {
    color: #4296cc !important;
}

.voltar_10 {
    color: #62ae0b !important;
}

.voltar_11 {
    color: #762c23 !important;
}

@media (min-width: 992px) {
    .modal-lg {
        --bs-modal-width: 700px !important;
    }

    .modal-lg-exp {
        --bs-modal-width: 600px !important;
    }
}

.modal-content {
    min-height: 350px;
}

.modal-footer {
    border-top: 0px !important;
}

.modal-footer button, .add_img_livro button.postar_bt {
    background-color: #b0d90b;
    border-radius: 20px;
    border: none;
    font-size: 1.2em;
    width: 120px;
}

#bt_expl_questao button {
    width: 230px;
}

#bt_expl_questao button:active {
    background-color: #b0d90b;
}

.modal-footer button:hover,
.modal-footer button:focus,
.modal-footer button:active,
.add_img_livro button.postar_bt:hover {
    opacity: .7;
    background-color: #b0d90b;
    color: white;
}

.revisar_icone i {
    color: #ff5400;
    font-size: 1.8em;
    position: relative;
    top: 95px;
    left: 10px;

}

.revisar_icone i:hover {
    color: #f89402;
}

form label {
    padding: 2px;
    padding-bottom: calc(0.075rem + 1px) !important;
}

.p_disponivel {
    margin-bottom: 0.1em;
    padding: 4px;
}

/* Esconde o input real */
input[type="file"] {
    display: none;
}

/* Estilo do botão falso */
.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fdba12;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 1.2em;
    width: 200px;
    transition: opacity 0.1s ease;
}

.custom-file-upload i {
    font-size: 1.15em;
    margin-left: 5px;
}

.custom-file-upload:hover {
    opacity: 0.8;
}
.bt_excluir_modal{
    background-color: #f14a44 !important;
}
.textarea_h{
    height: 85px;
}
.modal_atualiza{
    padding-bottom: 9px !important;
    padding-top: 9px !important;
}
.modal_body_atualiza{
    padding-top: 5px !important;
    padding-bottom: 0px !important;
}
.bt_exc_atualiza{
    padding-top: 0px !important;
}
#reprovar_noticia{
    background-color: #f89402;
}
#reprovar_noticia:active{
    opacity: 0.8;
    background-color: #f89402;
}
#nome_userH1{
    color: black;
}
#nome_userH1:hover{
    color: gray;
}
#div_img_editar{
    width: 100%;
}
#foto_user_editar{
    width: 150px;
    height: 150px;
    margin: auto;
}